@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {


    img {
        max-width: 100%;
    }

    $light_dark: #464646;
    $dark: #1C1C1C;
    $darker: #1C1C1C;
    $primary: #0282F9;
    $nav_size: 10px;
    $dc-font: 'Open Sans', sans-serif;

    header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .active_link {
                border-bottom: 3px solid $primary;
            }

            nav {
                a {
                    display: inline-block;
                    margin-left: 1.1rem;
                    text-decoration: none;
                    color: $light_dark;
                    font-size: $nav_size;
                    padding: 60px 0;
                }
            }

            .logo {
                padding: 20px;

                img {
                    width: 80px;
                }
            }
        }
    }

    img {
        max-width: 100%;
    }

    main {
        background-color: $dark;
        color: white;
        padding-bottom: 2rem;
    }

    .jumbotron {
        background-image: url(../images/jumbotron.jpg);
        height: 400px;
        background-size: cover;
    }

    .current_series {
        position: relative;
        padding-top: 4rem;

        .btn_primary,
        .badge_title {
            background-color: $primary;
            width: max-content;
            padding: 0.75rem 4rem;
            font-weight: 600;
            color: white;
            border: 0;
        }

        .badge_title {
            position: absolute;
            top: 0;
            translate: 0 -50%;
        }

        .text_wrapper {
            position: absolute;
            bottom: 0;
            background-color: $dark;
            width: 90%;
            height: 30%;
            font-size: 12px;
        }
    }


    .footer_nav {
        background-color: $primary;

        .container {
            display: flex;
            justify-content: space-around;
            padding: 50px 0;

            a {
                text-decoration: none;

                span {
                    font-size: $nav_size;
                    color: white;
                    padding-left: 10px;
                }

                img {
                    height: 30px;
                }
            }
        }
    }


    .col-6 {
        display: flex;
        align-items: center;
    }

    section.link {
        background-image: url(../images/footer-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        .col-6.right {
            background-image: url(../images/dc-logo-bg.png);
            background-size: cover;
            background-position: center;
        }

        .col-4 {
            .wrapper {
                padding: 1rem 0;

                h6 {
                    color: white;
                }

                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: rgba(177, 177, 177, 0.823);
                    font-size: 13px;
                }
            }
        }
    }

    section.social {
        background-color: $dark;
        padding: 1rem 0;

        img {
            margin-left: 1rem;
        }
    }
}