@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 100%;
}

section.show {
    max-width: 80%;

    img {
        max-width: 300px;
    }
}